# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.venv/

# Django stuff
staticfiles/
media/
*.log

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Env / secrets
.env
.env.*

